:root {
    --primary-color: #5e88bf;
    --secondary-color: #426e86;
    --ternary-color: #dff8ff;
    --danger-color: #bf5e8f;
    --warning-color: #f5b916;
    --success-color: #5ebf89;
    --background-color: #e5e5e5;
    --text-color: #2d2d2d;
}
