:root {
  --primary-color: #5E88BF;
  --secondary-color: #426E86;
  --ternary-color: #DFF8FF;
  --danger-color: #bf5e8f;
  --warning-color: #F5B916;
  --success-color: #5EBF89;
  --background-color: #e5e5e5;
  --text-color: #2d2d2d;
}
