<div *ngIf="task" class="task p-4 mb-4" (click)="goToTaskDetails()">
    <div class="task__details">
      <div class="task__header">
        <h3>{{ task.name }}</h3>
        <mat-icon (click)="deleteTask(task); $event.stopPropagation()">close</mat-icon>
      </div>
        <p>Task status: {{ taskStatus }}</p>
    </div>
    <div
        (click)="$event.stopPropagation()"
        class="task__status-container d-flex justify-content-start"
    >
        <button
            *ngIf="showStatusButtonToDo"
            (click)="changeStatus(taskStatuses.ToDo)"
            class="btn btn-primary mr-1"
        >
            To do
        </button>
        <button
            *ngIf="showStatusButtonInProgress"
            (click)="changeStatus(taskStatuses.InProgress)"
            class="show-button--warning btn mr-1"
        >
            In progress
        </button>
        <button
            *ngIf="showStatusButtonDone"
            (click)="changeStatus(taskStatuses.Done)"
            class="show-button--success btn ml-1"
        >
            Done
        </button>
    </div>
</div>
