<div class="container">
  <form *ngIf="task">
    <div class="form-group">
      <label for="taskName">Task name:</label>
      <input name="taskName" [(ngModel)]="task.name" [readOnly]="readOnly" type="text" class="form-control" id="taskName">
    </div>
    <div class="form-group">
      <label for="taskDescription">Task description:</label>
      <textarea name="description" [(ngModel)]="task.description" [readOnly]="readOnly" class="form-control"
                id="taskDescription" rows="3"></textarea>
    </div>
    <!--  <div class="form-group">-->
    <!--    <label for="taskDescription">Progress:</label>-->
    <!--    <textarea [(ngModel)]="task.description" [readOnly]="true" name="description" class="form-control"-->
    <!--              id="taskDescription" rows="3"></textarea>-->
    <!--  </div>-->

    <!--    <button type="submit" class="btn btn-primary">Save</button>-->
    <button *ngIf="readOnly" class="btn btn-info" (click)="editData(true)">Edit</button>
    <button *ngIf="!readOnly" class="btn btn-success" (click)="updateData()">Save</button>
    <button *ngIf="!readOnly" class="btn btn-danger ml-2" (click)="deleteData()">Delete</button>
  </form>
</div>

