<div>
    <p>
        Liczba ukończonych zadań: <b>{{ this.numberOfTaskFinishedToday }}</b>
    </p>
    <div *ngIf="!editMode; else editGoal">
        <p>
            Cel na dzisiaj: <b>{{ goalForToday.quantity }}</b>
        </p>
    </div>
    <p>
        Cel:
        <span
            *ngIf="goalForToday.quantity <= this.numberOfTaskFinishedToday"
            class="text-success"
            >osiągnięty</span
        >
        <span
            *ngIf="goalForToday.quantity > this.numberOfTaskFinishedToday"
            class="text-danger"
            >nieosiągnięty</span
        >
    </p>
    <button class="btn btn-info" (click)="editMode = !editMode">
        Ustaw cel na dzisiaj
    </button>
</div>
<ng-template #editGoal>
    <div class="d-flex">
        Cel na dzisiaj
        <input
            [(ngModel)]="goalForToday.quantity"
            (change)="setGoalForToday()"
            type="email"
            name="taskName"
            class="goal-input form-control"
            id="taskName"
        />
    </div>
</ng-template>
