<div>
    <p>
        Quantity of finished tasks: <b>{{ this.numberOfTaskFinishedToday }}</b>
    </p>
    <div *ngIf="!editMode; else editGoal">
        <p>
            Goal for today: <b>{{ goalForToday.quantity }}</b>
        </p>
    </div>
    <p>
        Goal:
        <span
            *ngIf="goalForToday.quantity <= this.numberOfTaskFinishedToday"
            class="goal goal--success"
            >achieved</span
        >
        <span
            *ngIf="goalForToday.quantity > this.numberOfTaskFinishedToday"
            class="goal goal--fail"
            >not achieved</span
        >
    </p>
    <button class="show-button--info btn" (click)="editMode = !editMode">
        Set goal for today
    </button>
</div>
<ng-template #editGoal>
    <div class="goal__set d-flex align-items-center">
        Goal for today:
        <input
            [(ngModel)]="goalForToday.quantity"
            (change)="setGoalForToday()"
            type="email"
            name="taskName"
            class="goal-input ml-1 form-control"
            id="taskName"
        />
    </div>
</ng-template>
