.goal {
    font-weight: bold;

    &--success {
        color: var(--success-color);
    }

    &--fail {
        color: var(--danger-color);
    }

    &__set {
        height: 55px;
    }

    &-input {
        width: 100px;
    }
}
